@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>ITS Manager</h1>
    <p class="lead">Tramite questa applicazione è possibile gestire l'inserimento delle notifiche</p>
    <p><a href="http://asp.net" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>